html {
  background: var(--gray-600);
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
}
.content {
  background: var(--gray-600);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addNewTask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  top:10.8125rem;
}
.addNewTask textarea {
  width: 39.875rem;
  height: 3.375rem;
  display: flex;
  border-radius: 8px;

  background: var(--gray-500);
  border: 0.0625rem solid var(--gray-700);
  color: var(--white);
  padding-left: 1rem;
}
.addNewTask button {
  width: 5.625rem;
  height: 3.25rem;
  border: none;
  border-radius: 8px;

  background: var(--blueDark);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
}
.tasks {
  width: 46rem;
  height: 15.25rem;  

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 17.1875rem;

  gap: 0.5rem;
}
.subMenu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  width: 46rem;
  height: 1.1875rem;

  justify-content: space-between;
  align-items: flex-end;
}
.subMenu p {
  display: flex;
  gap: 0.5rem;
}
.itemCountText {
  color: var(--blue);
}
.itemCount {
  background: var(--gray-400);
  border-radius: 30rem;
  width: 1.5625rem;
  height: 1.1875rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxTasks {
  border-top: 0.075rem solid var(--gray-400);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;  
}
.boxTasks img {
  width: 3.5rem;
  margin-bottom: 0.5rem;
}
.boxTasks p {
color: var(--gray-300);
font-style: normal;
font-size: 1rem;
 
text-align: center;
}